/**
 * Color Scheme:
 * #E5E5E5;
 * #363636;
 * #CCA43B;
 * #242F40;
 * #FFFFFF;
 *
 */

*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    color: white;
    font-family: "helvetica", sans-serif;
}

#progresstable
{
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
}

#progresstable td
{
    border: solid 1px black;
    width: 5%;
    color: black;
    font-size: 90%;
}

.current
{
    background-color: #CCA43B;
}

.complete
{
    background-color: #929292;
}

.incomplete
{
    background-color: #FFFFFF;
}

#wrapper
{
    padding: 25px;
    //width: 100%;
}

#header
{
    text-align: center;
    width: auto;
    padding: 20px;
    background-color: #363636;
}

#title, #home
{
    font-size: 200%;
    color: #CCA43B;
}

#home
{
    cursor: url('home.png');
    float: left;
}

#instructions
{
    padding: 10px;
}

#businessinfo, #section
{
    font-size: 150%;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    height: 100%;
    background-color: #242F40;
    text-align: center;
    max-height: 70%;
    min-height: 70%;
}

#start, #next, #save, #back
{
    padding: 15px;
    text-align: center;
    background-color: #CCA43B;
    font-size: 150%;
    width: 20%;
    color: #242F40;
}

#updateinfo
{
    padding: 10px;
    text-align: center;
    background-color: #CCA43B;
    font-size: 70%;
    width: 20%;
    color: #242F40;
}

#bottomnav
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 20px 0px;
    text-align: center;
}

#schedule
{
    overflow-y: auto;
}

#group
{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

#group th, td
{
    background-color: #929292;
    border: solid 1px white;
}

#group input
{
    font-size: 100%;
    width: 90%;
    margin: 10px;
}

#instructions
{
    font-size: 70%;
    text-align: justify;
    margin: 0 auto;
}

